<main style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(https://aesthesiamag.files.wordpress.com/2018/10/steve-roe-674999-unsplash.jpg?w=1500); background-repeat: none; background-size: cover;">
  <div class="landing_box">
    <div class="landing card">
      <h1><%= @welcome_message %></h1>
      <p><%= @name_form_text %></p>
      <%= form_with(url: "/name", method: "post") do %>
        <%= text_field_tag 'name', nil, :placeholder => @name_placeholder_text %>
        <%= password_field_tag 'password', nil, :placeholder => @password_placeholder_text %>
        <%= submit_tag @name_form_submit_button_text %>
        <% flash.each do |type, msg| %>
          <p class="error"><%= msg %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
